label {
    color: black;
    font-family: monospace;
    font-size: 15px;
    font-style: inherit;
    font-weight: 600;
    
}

p {
    font-family: monospace;
    font-size: 20px;
}

button {
    background-color: coral;
    font-size: 12px;
    font-style: inherit;
    outline-style: auto ;
    outline-width: 15px;
    outline-color: coral;
  
}

